<html>
    <head>
        <title>PentaxJung's blog</title>
    </head>

    <body>
        <div>
            <h1><a href="">PentaxJung's Blog</a></h1>
        </div>

        <div>
            <p>published: 01.01.2020, 17:00</p>
            <h2><a href="">My First Post</a></h2>
            <p>안녕. 나의 첫번째 블로그.</p>
        </div>

        <div>
            <p>published: 01.01.2020, 17:02</p>
            <h2><a href="">My Second Post</a></h2>
            <p>Hi there!</p>
            <p>It works!</p>
        </div>
    </body>
</html>